<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <h1>Results</h1>
  <div class="results-grid">
    <% if (books.length > 0) { %> <% books.forEach(book => { %>
    <div class="book-card <%= book.source %>">
      <div class="logo-container">
        <img src="/public/assets/<%= book.source %>.png" alt="" class="logo" />
      </div>

      <div class="left-side">
        <img
          class="book-img"
          src="/public/assets/<%= book.genre %>.png"
          alt=""
        />
        <span class="genre"><%= book.genre %></span>
      </div>

      <div class="book-content">
        <h3 class="book-title"><%= book.title %></h3>
        <span class="author"><%= book.author %></span>
        <div class="book-info">
          <span class="date"
            ><%= new Date(book.publication_date).getFullYear() %></span
          >
          <span>Published by <%= book.publisher %></span>
        </div>
      </div>
    </div>
    <% }) %> <% } else { %>
    <p>No items found.</p>
    <% } %>
  </div>
</body>
